.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
    height: 100%;
    z-index: 1;
    position: fixed;
    align-self: flex-start;
    width: 100px;
    background-color: #020203;
    color: white;
    text-align: center;
}
.sidebar > img{
    width: 64px;
    height: auto;
}
.sidebar-box{
    transform: rotate(-90deg);
    width: 70px;
}