.container {
  &__modal {
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    align-self: center;
    width: 70%;
    height: 80vh;
    color: white;
    justify-content: space-evenly;
    h2 {
      width: 70%;
      align-self: center;
    }
  }
  &__buttonDatas {
    display: flex;
    justify-content: space-around;
    button {
      background: white;
      border: none;
      padding: 5px 15px;
      width: 100px;
      border-radius: 15px;
      font-weight: 700;
      font-size: 16px;
    }
  }
}

.hidden {
  display: none;
}
