.section___dashboard{
    margin-left: 12%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
h1{
    font-weight: 500;
    font-size: 48px;
    margin-block-end: 0.30em
}
h1 > strong {
color: #FF0101;
}
span{
    font-weight: 400;
    font-size: 18px;
}
.container__infos{
    display: flex;
    column-gap: 20px;
    margin:  50px 0 50px 0;
}
.container__infos-charts{
    display: flex;
    flex-direction: column;
    width: 65%;
    row-gap: 20px;
}
.container__infos-charts-box{
    display: flex;
    column-gap: 5%;
    height: 30vh;
}
