.section___dashboard{
    margin-left: 15%;
    display: flex;
    flex-direction: column;

}
h1{
    font-weight: 500;
    font-size: 48px;
    margin-block-end: 0.30em
}
h1 > strong {
color: #FF0101;
}
span{
    font-weight: 400;
    font-size: 18px;
}
.container__infos{
    display: flex;
    column-gap: 5%;
    margin-top: 50px;
}
.container__infos-charts{
    width: 65%;
}
