.container__Nav{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    column-gap: 10%;
    background-color: #020203;
    position: sticky;
    z-index: 2;
}
.header-boxLogo{
    width: 20%;
}
img{
    height: 60px;
    width: auto;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
a{
    /*Add Roboot font*/
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
/*Add hover effect to links*/

